.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 880px;
  margin: 0 auto;
  gap: 21px 17px;
  padding: 0;
}

.card {
  overflow: hidden;
  position: relative;
  list-style-type: none;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-button {
  width: 18px;
  height: 18px;
  position: absolute;
  border: none;
  top: 10px;
  right: 10px;
  background: url("../images/delete-button.svg");
}

.card__delete-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__description {
  width: 100%;
  height: 79px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.card__title {
  margin-left: 15px;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  margin-right: 18px;
  background: url("../images/like-button.svg");
  width: 21px;
  height: 19px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__like-button:active {
  fill: black;
}

.card__like-button_is-active {
  background: url("../images/like-button_active.svg");
}

@media screen and (max-width: 780px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 12px;
    max-height: none;
  }

  .card__like-button {
    margin-right: 30px;
  }
}

@media screen and (max-width: 430px) {
  .cards__list {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .card__title {
    font-size: 24px;
  }
}
