.page__content {
  max-width: 882px;
  /* background-color: #000000; */
  /* color: #ffffff; */
  margin: 0 auto;
  padding: 45px 0 60px;
  /* font-family: Inter, Arial, sans-serif; */
  padding: 10px;
}
