.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__close {
  height: 40px;
  width: 40px;

  z-index: 1;
  top: -32px;
  right: -30px;
  border: none;
  width: 24px;
  position: absolute;
  background: url("../images/close-button.svg") no-repeat center/contain;
}

.popup__close:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  color: black;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 530px) {
  .popup__close {
    right: -4px;
    top: -38px;
  }
}
