.register__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  margin: 0 auto;
}

.register__title {
  font-weight: 900;
  font-size: 24px;
  margin: 0 auto 20px;
}

.register__input {
  margin: 30px 0 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px 0 5px;
}

.register__submit-button {
  margin: 216px 0 0;
  height: 50px;
  cursor: pointer;
}

.register__link {
  max-width: 350px;
  margin: 15px auto 0;
  text-align: center;
  cursor: pointer;

  display: block;
}

.register__link:visited {
  color: inherit;
}

@media screen and (max-width: 360px) {
  .register__title {
    margin: 0 auto 10px;
    font-size: 20px;
  }

  .register__submit-button {
    margin: 173px 0 0;
  }
}
